@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../static/Img/explosion-photo-background-login.jpg);
    background-size: cover;
    background-position: center;

}

.container{
    width: 420px;
    background: linear-gradient(180deg,#009A9B,  #00666C);
    border: 2px solid #0000005b;
    border-radius: 20px;
    color: white;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.container h1{
    font-size: 42px;
    text-align: center;
}


.logo img{
    width: 170px;
    max-width: 100%;
}

.caixa-input{
    position: relative; /* mantem o elemento na posição inicial , mas visualmente pode-se mover sem afetar os outros elementos*/
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.caixa-input input{
    width: 100%;
    height: 100%;
    background-color:azure;
    border: 3px solid #E96A1C;
    outline: none;
    border-radius: 20PX;
    font-size: 15px;
    color: black;
    padding: 20px 35px 20px 20px;
}

.caixa-input input::placeholder{
    color: rgb(53, 52, 52);
}

.caixa-input i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* top 50% e tranform usado para alinhar os itens no meio de maneira mais eficaz*/
    font-size: large;
    color: #000000b9;
}

.lembra-password{
    display: flex;
    justify-content: space-between;
     margin: -15px 0 15px;
}



.lembra-password label input{
    accent-color: #ffffff;
    margin-right: 5px;
}

.lembra-password label input:hover{
    color: transparent;
}

.lembra-password a{
    text-decoration: none;
    color: #fff;

}

.lembra-password a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login:hover{
    background-color: #E96A1C;
    border: 2px solid #0000005b;
    color: #fff;
    transition: 0.3s;
}

.link-cadastro{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.link-cadastro a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}

.social-login{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.btn-google, .btn-facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 800px;
    transition: transforme 0.3s ease, box-shadow 0.3s ease;
}

.btn-google{
    background-color: #DB4437;
}

.btn-facebook{
    background-color: #1877F2;
}
.btn-google:hover{
    transform: scale(1.1);
    background-color: #df3627;
}

.btn-facebook:hover{
    transform: scale(1.1);
    background-color: #066ef5;
}