














.layout{
    display:flex;
    gap:30px;
    padding:30px 50px;
}

.sidebar{
    width:250px;
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
.sidebar ul{list-style:none;}
.titulo-perfil{
    font-size:12px;
    color:#777;
    margin-top:20px;
    margin-bottom:5px;
    text-transform:uppercase;
}
.menu-item{
    padding:10px 0;
    font-size:15px;
    color:#333;
    cursor:pointer;
    transition:0.2s;
}
.menu-item:hover{color:#137a83;}
.menu-item.active{color:#0f4c5c;font-weight:600;}

.conteudo{width:100%;}
.pagina{display:none;}
.pagina.active{display:block;}

h2{font-size:22px;margin-bottom:5px;color:#0f4c5c;}
.sub{color:#666;margin-bottom:20px;}

.perfil-card{
    background:#fff;
    padding:30px;
    border-radius:20px;
    display:flex;
    gap:30px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
.foto-perfil img{
    width:130px;
    height:130px;
    border-radius:50%;
    border:3px solid #9ad1c4;
    object-fit:cover;
}
.editar-foto{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    border-radius:20px;
    background:#137a83;
    color:#fff;
    cursor:pointer;
}

.linha_perfil{margin-bottom:18px;display:flex;flex-direction:column;}
label{font-weight:600;margin-bottom:5px;}
input,select{
    padding:12px;
    border-radius:12px;
    border:1px solid #ccc;
    font-size:14px;
}

.btn-salvar{
    padding:12px 30px;
    background:#137a83;
    border:none;
    border-radius:20px;
    color:#fff;
    cursor:pointer;
    margin-top:10px;
}
.btn-salvar:hover{background:#0f4c5c;}

.priv-card{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.btn-danger{
    margin-top:10px;
    padding:12px 30px;
    background:#b80f2e;
    border:none;
    color:#fff;
    border-radius:20px;
    cursor:pointer;
}
.btn-danger:hover{background:#8a0b23;}

.cupom-card{
    background:#fff;
    padding:25px;
    border-left:6px solid #137a83;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.cupom-card h3{color:#0f4c5c;margin-bottom:8px;}
.validade{font-size:12px;color:#666;margin-bottom:8px;display:block;}

.abas-compras{display:flex;gap:10px;margin-bottom:20px;}
.aba{
    padding:8px 15px;
    border:none;
    border-radius:20px;
    background:#d0e7e7;
    cursor:pointer;
    font-size:14px;
}
.aba.active{background:#137a83;color:#fff;}

.aba-painel{
    display:none;
    background:#fff;
    padding:25px;
    border-radius:15px;
}
.aba-painel.active{display:block;}

.pedido{
    display:flex;
    align-items:center;
    gap:15px;
    background:#f7ffff;
    padding:15px;
    border-radius:12px;
    border-left:5px solid #0f4c5c;
    margin-bottom:15px;
}
.pedido img{border-radius:10px;}

.pedido img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
}

.status{font-weight:600;}
.entregue{color:#137a83;}
.cancelado{color:#b80f2e;}
.reembolso{color:#0f4c5c;}
















